@import "./reset";

.site {
    min-width: 1000px;
    // background-color: red;

    .instagram-wrapper {
        display: flex;
        align-items: center;
        // justify-content: start;
        //width: 60%;

        // background-color: aquamarine;

        flex-direction: row;
        flex-grow: 1;
        justify-content: center;
        margin: 32px auto 0;
        max-width: 935px;
        padding-bottom: 32px;
        width: 100%;

        .instagram-phone {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            img {
                height: 50rem;
            }
        }

        @import "./continuar";
    }
    @import "./media_queries";
    @import "./footer";
}
